# Ignore all
*

# Unignore all with extensions
!**.*
# Unignore Dockerfile
!Dockerfile
!env

# Unignore all dirs
!**/

### Above combination will ignore all files without extension ###
**/*.wasm
wasm_exec.js

node_modules
css
*.lock
build.js
*.vscode
*.code-workspace
*.DS_store