// override any bootstrap vars here
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;

$font-size-xs: $font-size-base * .8;

// cards
$card-cap-bg: $white;
$card-bg: rgba($black, .03);

$brand-color: #444444;
