.recent-blocks {
  .card-body {
    font-size: $font-size-xs;
  }
}

.block-card-heading {
  display: flex;
  align-content: space-between;

  > div {
    flex: 1;

    &:last-of-type {
      text-align: right;
    }
  }
}

.dt {
  @extend dt;
}

.dd {
  @extend dd;
}

.jumbo-stats {
  > div::before {
    content: " ";
    width: 3px;
    background-color: $brand-color;
    border-radius: 3px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
  }
  .stat-title {
    font-size: $font-size-sm;
  }

  .stat-value {
    font-size: $font-size-lg;
  }
}
