.recent-blocks {
  .card-body {
    font-size: $font-size-xs;
  }
}

.block-card-heading {
  @extend .row;
  > div {
    @extend .col-12;
    @extend .col-lg-6;
    @extend .float-left;
  }
}

.responsive-card-deck {
  @extend .row;
  .card-deck-col {
    @extend .col-12;
    @extend .col-md-6;
    @extend .col-xl-3;
  }
}

.dt {
  @extend dt;
}

.dd {
  @extend dd;
}

.jumbo-stats {
  > div::before {
    content: " ";
    width: 3px;
    background-color: $brand-color;
    border-radius: 3px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
  }
  .stat-title {
    font-size: $font-size-sm;
  }

  .stat-value {
    font-size: $font-size-lg;
  }
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}