pre {
  padding: 5px 10px 15px 5px;
  background: rgb(63, 63, 63);
  color: white;
  border-radius: 3px;
  overflow: scroll;
}
      body {
        margin: 0;
        font-family: Open Sans, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 300;
        color: #444;
        line-height: 1.6em
      }

/* body { */
  /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
  /*font-family: 'Bellefair', serif;*/
  /* font-family: 'Work Sans', sans-serif; */
/* } */

h5 {
  font-size: larger;
}

.header {
  margin-bottom: 2%;
  padding: 2%;
}

.info-pane {
  margin-top: 5%;
  margin: auto;
  padding: 2%;
  background-color: #b1b4c7;
}

thead tr th {
  text-align: center;
  padding: 0px 7px;
}

tbody tr td {
  text-align: center;
  margin: auto;
}